USE [master]
GO
/****** Object:  Database [Logi_ERP_DWH]    Script Date: 6/9/2026 5:43:42 PM ******/
CREATE DATABASE [Logi_ERP_DWH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Logi_ERP_DWH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Logi_ERP_DWH.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Logi_ERP_DWH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Logi_ERP_DWH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Logi_ERP_DWH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Logi_ERP_DWH]
GO
/****** Object:  Schema [DWH]    Script Date: 6/9/2026 5:43:42 PM ******/
CREATE SCHEMA [DWH]
GO
/****** Object:  Table [DWH].[DIM_Channel]    Script Date: 6/9/2026 5:43:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DIM_Channel](
	[Channel_SK] [int] IDENTITY(1,1) NOT NULL,
	[Channel_Code] [varchar](30) NOT NULL,
	[Channel_Name] [varchar](50) NOT NULL,
	[Channel_Group] [varchar](30) NOT NULL,
 CONSTRAINT [PK_DWH_DIM_Channel] PRIMARY KEY CLUSTERED 
(
	[Channel_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DIM_Channel_Code] UNIQUE NONCLUSTERED 
(
	[Channel_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[DIM_Customer]    Script Date: 6/9/2026 5:43:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DIM_Customer](
	[Customer_SK] [int] IDENTITY(1,1) NOT NULL,
	[Customer_ID] [int] NOT NULL,
	[Customer_Name] [nvarchar](150) NOT NULL,
	[Segment] [varchar](30) NOT NULL,
	[Customer_Status] [varchar](20) NOT NULL,
	[Credit_Limit] [decimal](18, 2) NOT NULL,
	[City_ID] [int] NULL,
	[City_Name] [nvarchar](50) NULL,
	[Region_Name] [nvarchar](50) NULL,
	[Is_Current] [bit] NOT NULL,
	[Valid_From] [datetime2](0) NOT NULL,
	[Valid_To] [datetime2](0) NOT NULL,
	[DWH_Inserted_At] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_DWH_DIM_Customer] PRIMARY KEY CLUSTERED 
(
	[Customer_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[DIM_Date]    Script Date: 6/9/2026 5:43:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DIM_Date](
	[Date_SK] [int] NOT NULL,
	[Full_Date] [date] NOT NULL,
	[Day_Of_Week] [tinyint] NOT NULL,
	[Day_Name] [varchar](10) NOT NULL,
	[Day_Name_AR] [nvarchar](20) NOT NULL,
	[Day_Of_Month] [tinyint] NOT NULL,
	[Day_Of_Year] [smallint] NOT NULL,
	[Week_Of_Year] [tinyint] NOT NULL,
	[Month_Number] [tinyint] NOT NULL,
	[Month_Name] [varchar](10) NOT NULL,
	[Month_Name_AR] [nvarchar](20) NOT NULL,
	[Quarter] [tinyint] NOT NULL,
	[Year] [smallint] NOT NULL,
	[Fiscal_Quarter] [tinyint] NOT NULL,
	[Fiscal_Year] [smallint] NOT NULL,
	[Season] [varchar](10) NOT NULL,
	[Is_Weekend] [bit] NOT NULL,
	[Is_Holiday_EG] [bit] NOT NULL,
	[Holiday_Name] [varchar](100) NULL,
 CONSTRAINT [PK_DWH_DIM_Date] PRIMARY KEY CLUSTERED 
(
	[Date_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DWH_DIM_Date_Full] UNIQUE NONCLUSTERED 
(
	[Full_Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[DIM_Driver]    Script Date: 6/9/2026 5:43:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DIM_Driver](
	[Driver_SK] [int] IDENTITY(1,1) NOT NULL,
	[Driver_ID] [int] NOT NULL,
	[Driver_Name] [nvarchar](100) NOT NULL,
	[License_Type] [varchar](20) NOT NULL,
	[Hire_Date] [date] NULL,
	[Driver_Risk_Score] [decimal](5, 2) NOT NULL,
	[Is_Active] [bit] NOT NULL,
	[DWH_Inserted_At] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_DWH_DIM_Driver] PRIMARY KEY CLUSTERED 
(
	[Driver_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[DIM_ProdLine]    Script Date: 6/9/2026 5:43:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DIM_ProdLine](
	[ProdLine_SK] [int] IDENTITY(1,1) NOT NULL,
	[Line_ID] [int] NOT NULL,
	[Line_Name] [varchar](100) NOT NULL,
	[Plant_Name] [varchar](100) NOT NULL,
	[City_Name] [nvarchar](50) NULL,
	[Region_Name] [nvarchar](50) NULL,
	[Max_Daily_Capacity] [int] NOT NULL,
	[OEE_Target] [decimal](5, 2) NOT NULL,
	[Is_Active] [bit] NOT NULL,
	[DWH_Inserted_At] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_DWH_DIM_ProdLine] PRIMARY KEY CLUSTERED 
(
	[ProdLine_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[DIM_Product]    Script Date: 6/9/2026 5:43:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DIM_Product](
	[Product_SK] [int] IDENTITY(1,1) NOT NULL,
	[Product_ID] [int] NOT NULL,
	[Product_SKU] [varchar](50) NOT NULL,
	[Product_Name] [nvarchar](150) NOT NULL,
	[Product_Category] [varchar](50) NULL,
	[Product_Type] [varchar](30) NOT NULL,
	[Brand_Name] [varchar](50) NULL,
	[Storage_Type] [varchar](20) NOT NULL,
	[Shelf_Life_Days] [int] NULL,
	[Unit_Cost_EGP] [decimal](18, 2) NOT NULL,
	[Unit_Price_EGP] [decimal](18, 2) NOT NULL,
	[Is_Current] [bit] NOT NULL,
	[Valid_From] [datetime2](0) NOT NULL,
	[Valid_To] [datetime2](0) NOT NULL,
	[DWH_Inserted_At] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_DWH_DIM_Product] PRIMARY KEY CLUSTERED 
(
	[Product_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[DIM_Vehicle]    Script Date: 6/9/2026 5:43:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DIM_Vehicle](
	[Vehicle_SK] [int] IDENTITY(1,1) NOT NULL,
	[Vehicle_ID] [int] NOT NULL,
	[Vehicle_Code] [varchar](30) NOT NULL,
	[Plate_Number] [varchar](30) NOT NULL,
	[Vehicle_Type] [varchar](30) NOT NULL,
	[Capacity_Tons] [decimal](10, 2) NOT NULL,
	[Fuel_Type] [varchar](20) NOT NULL,
	[Purchase_Date] [date] NULL,
	[Vehicle_Status] [varchar](20) NOT NULL,
	[DWH_Inserted_At] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_DWH_DIM_Vehicle] PRIMARY KEY CLUSTERED 
(
	[Vehicle_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[DIM_Vendor]    Script Date: 6/9/2026 5:43:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DIM_Vendor](
	[Vendor_SK] [int] IDENTITY(1,1) NOT NULL,
	[Vendor_ID] [int] NOT NULL,
	[Vendor_Name] [nvarchar](150) NOT NULL,
	[Vendor_Type] [varchar](50) NULL,
	[Country] [varchar](50) NULL,
	[City_Name] [nvarchar](50) NULL,
	[Region_Name] [nvarchar](50) NULL,
	[SLA_Delivery_Days] [int] NULL,
	[Vendor_Rating] [decimal](5, 2) NULL,
	[Is_Active] [bit] NOT NULL,
	[DWH_Inserted_At] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_DWH_DIM_Vendor] PRIMARY KEY CLUSTERED 
(
	[Vendor_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[DIM_Warehouse]    Script Date: 6/9/2026 5:43:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DIM_Warehouse](
	[Warehouse_SK] [int] IDENTITY(1,1) NOT NULL,
	[Warehouse_ID] [int] NOT NULL,
	[Warehouse_Name] [varchar](100) NOT NULL,
	[Warehouse_Type] [varchar](30) NOT NULL,
	[City_ID] [int] NULL,
	[City_Name] [nvarchar](100) NULL,
	[Region_Name] [nvarchar](100) NULL,
	[Total_Capacity_M3] [decimal](18, 2) NOT NULL,
	[Chilled_Capacity_M3] [decimal](18, 2) NOT NULL,
	[Frozen_Capacity_M3] [decimal](18, 2) NOT NULL,
	[Is_Active] [bit] NOT NULL,
	[DWH_Inserted_At] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_DWH_DIM_Warehouse] PRIMARY KEY CLUSTERED 
(
	[Warehouse_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[ETL_Batch_Log]    Script Date: 6/9/2026 5:43:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[ETL_Batch_Log](
	[Batch_ID] [int] IDENTITY(1,1) NOT NULL,
	[Started_At] [datetime2](7) NOT NULL,
	[Ended_At] [datetime2](7) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Created_At] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Batch_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[ETL_Errors]    Script Date: 6/9/2026 5:43:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[ETL_Errors](
	[Error_ID] [int] IDENTITY(1,1) NOT NULL,
	[Package_Name] [varchar](100) NULL,
	[Batch_ID] [int] NULL,
	[Error_Source] [varchar](100) NULL,
	[Natural_Key] [varchar](100) NULL,
	[Error_Desc] [varchar](500) NULL,
	[Created_At] [datetime2](0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[FACT_Logistics]    Script Date: 6/9/2026 5:43:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[FACT_Logistics](
	[Logistics_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[Date_SK] [int] NOT NULL,
	[Driver_SK] [int] NOT NULL,
	[Vehicle_SK] [int] NOT NULL,
	[SrcWarehouse_SK] [int] NOT NULL,
	[DstWarehouse_SK] [int] NOT NULL,
	[Customer_SK] [int] NOT NULL,
	[Trip_ID] [int] NOT NULL,
	[Manifest_ID] [int] NOT NULL,
	[SO_ID] [int] NOT NULL,
	[Planned_KM] [decimal](10, 2) NOT NULL,
	[Actual_KM] [decimal](10, 2) NULL,
	[KM_Variance] [decimal](10, 2) NULL,
	[Total_Expense_EGP] [decimal](18, 2) NOT NULL,
	[Fuel_Expense_EGP] [decimal](18, 2) NOT NULL,
	[Other_Expense_EGP] [decimal](18, 2) NOT NULL,
	[Cost_Per_KM_EGP] [decimal](10, 4) NULL,
	[Delivery_Sequence] [int] NULL,
	[Planned_Arrival] [datetime2](0) NULL,
	[Actual_Arrival] [datetime2](0) NULL,
	[Delivery_Delay_Minutes] [int] NULL,
	[On_Time_Flag] [bit] NULL,
	[Trip_Status] [varchar](20) NULL,
	[Delivery_Status] [varchar](20) NULL,
	[DWH_Inserted_At] [datetime2](0) NOT NULL,
	[DWH_Batch_ID] [int] NULL,
 CONSTRAINT [PK_DWH_FACT_Logistics] PRIMARY KEY CLUSTERED 
(
	[Logistics_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[FACT_Procurement]    Script Date: 6/9/2026 5:43:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[FACT_Procurement](
	[Procurement_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[Date_SK] [int] NOT NULL,
	[Vendor_SK] [int] NOT NULL,
	[Product_SK] [int] NOT NULL,
	[Warehouse_SK] [int] NOT NULL,
	[PO_ID] [int] NOT NULL,
	[PO_Line_ID] [int] NOT NULL,
	[Qty_Ordered] [int] NOT NULL,
	[Qty_Received] [int] NOT NULL,
	[Qty_Damaged] [int] NOT NULL,
	[Qty_Accepted] [int] NOT NULL,
	[Unit_Price_EGP] [decimal](18, 2) NOT NULL,
	[Total_Cost_EGP] [decimal](18, 2) NOT NULL,
	[Damage_Rate_Pct] [decimal](5, 2) NULL,
	[Receipt_Rate_Pct] [decimal](5, 2) NULL,
	[Expected_Arrival_Date] [date] NULL,
	[Actual_Arrival_Date] [date] NULL,
	[Arrival_Delay_Days] [int] NULL,
	[On_Time_Flag] [bit] NULL,
	[PO_Status] [varchar](20) NULL,
	[DWH_Inserted_At] [datetime2](0) NOT NULL,
	[DWH_Batch_ID] [int] NULL,
 CONSTRAINT [PK_DWH_FACT_Procurement] PRIMARY KEY CLUSTERED 
(
	[Procurement_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[FACT_Production]    Script Date: 6/9/2026 5:43:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[FACT_Production](
	[Production_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[Date_SK] [int] NOT NULL,
	[Product_SK] [int] NOT NULL,
	[ProdLine_SK] [int] NOT NULL,
	[Warehouse_SK] [int] NOT NULL,
	[Prod_Order_ID] [int] NOT NULL,
	[Planned_Qty] [int] NOT NULL,
	[Produced_Qty] [int] NOT NULL,
	[Defected_Qty] [int] NOT NULL,
	[Good_Qty] [int] NOT NULL,
	[Defect_Rate_Pct] [decimal](5, 2) NULL,
	[OEE_Actual_Pct] [decimal](5, 2) NULL,
	[Production_Cost_EGP] [decimal](18, 2) NULL,
	[Cost_Per_Unit_EGP] [decimal](18, 2) NULL,
	[Planned_Start] [datetime2](0) NULL,
	[Actual_Start] [datetime2](0) NULL,
	[Actual_End] [datetime2](0) NULL,
	[Lead_Time_Hours] [decimal](10, 2) NULL,
	[Schedule_Delay_Hours] [decimal](10, 2) NULL,
	[Production_Status] [varchar](20) NULL,
	[DWH_Inserted_At] [datetime2](0) NOT NULL,
	[DWH_Batch_ID] [int] NULL,
 CONSTRAINT [PK_DWH_FACT_Production] PRIMARY KEY CLUSTERED 
(
	[Production_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[FACT_Returns]    Script Date: 6/9/2026 5:43:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[FACT_Returns](
	[Returns_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[Date_SK] [int] NOT NULL,
	[Customer_SK] [int] NOT NULL,
	[Product_SK] [int] NOT NULL,
	[Warehouse_SK] [int] NOT NULL,
	[Trip_ID] [int] NULL,
	[Return_ID] [int] NOT NULL,
	[SO_ID] [int] NOT NULL,
	[Qty_Returned] [int] NOT NULL,
	[Financial_Loss_EGP] [decimal](18, 2) NOT NULL,
	[Return_Reason] [varchar](100) NULL,
	[Inspection_Status] [varchar](30) NULL,
	[Batch_Number] [varchar](50) NULL,
	[DWH_Inserted_At] [datetime2](0) NOT NULL,
	[DWH_Batch_ID] [int] NULL,
 CONSTRAINT [PK_DWH_FACT_Returns] PRIMARY KEY CLUSTERED 
(
	[Returns_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[FACT_Sales]    Script Date: 6/9/2026 5:43:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[FACT_Sales](
	[Sales_SK] [bigint] IDENTITY(1,1) NOT NULL,
	[Date_SK] [int] NOT NULL,
	[Customer_SK] [int] NOT NULL,
	[Product_SK] [int] NOT NULL,
	[Warehouse_SK] [int] NOT NULL,
	[Channel_SK] [int] NOT NULL,
	[SO_ID] [int] NOT NULL,
	[SO_Line_ID] [int] NOT NULL,
	[Qty_Ordered] [int] NOT NULL,
	[Qty_Shipped] [int] NOT NULL,
	[Unit_Price_EGP] [decimal](18, 2) NOT NULL,
	[Discount_Pct] [decimal](5, 2) NOT NULL,
	[Gross_Revenue_EGP] [decimal](18, 2) NOT NULL,
	[Net_Revenue_EGP] [decimal](18, 2) NOT NULL,
	[Qty_Variance] [int] NOT NULL,
	[Fulfilment_Rate_Pct] [decimal](5, 2) NULL,
	[SO_Status] [varchar](20) NULL,
	[DWH_Inserted_At] [datetime2](0) NOT NULL,
	[DWH_Batch_ID] [int] NULL,
 CONSTRAINT [PK_DWH_FACT_Sales] PRIMARY KEY CLUSTERED 
(
	[Sales_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [DWH].[STG_DIM_Date]    Script Date: 6/9/2026 5:43:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[STG_DIM_Date](
	[Date_SK] [int] NULL,
	[Full_Date] [date] NULL,
	[Day_Of_Week] [tinyint] NULL,
	[Day_Name] [varchar](20) NULL,
	[Day_Name_AR] [nvarchar](20) NULL,
	[Day_Of_Month] [tinyint] NULL,
	[Day_Of_Year] [smallint] NULL,
	[Week_Of_Year] [tinyint] NULL,
	[Month_Number] [tinyint] NULL,
	[Month_Name] [varchar](20) NULL,
	[Month_Name_AR] [nvarchar](20) NULL,
	[Quarter] [tinyint] NULL,
	[Year] [smallint] NULL,
	[Fiscal_Quarter] [tinyint] NULL,
	[Fiscal_Year] [smallint] NULL,
	[Season] [varchar](20) NULL,
	[Is_Weekend] [bit] NULL,
	[Is_Holiday_EG] [bit] NULL,
	[Holiday_Name] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Index [IX_DIM_Customer_NK_Current]    Script Date: 6/9/2026 5:43:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_DIM_Customer_NK_Current] ON [DWH].[DIM_Customer]
(
	[Customer_ID] ASC,
	[Is_Current] ASC
)
INCLUDE([Customer_SK]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DIM_Date_FullDate]    Script Date: 6/9/2026 5:43:42 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DIM_Date_FullDate] ON [DWH].[DIM_Date]
(
	[Full_Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DIM_Driver_NK]    Script Date: 6/9/2026 5:43:42 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DIM_Driver_NK] ON [DWH].[DIM_Driver]
(
	[Driver_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DIM_ProdLine_NK]    Script Date: 6/9/2026 5:43:42 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DIM_ProdLine_NK] ON [DWH].[DIM_ProdLine]
(
	[Line_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DIM_Product_NK_Current]    Script Date: 6/9/2026 5:43:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_DIM_Product_NK_Current] ON [DWH].[DIM_Product]
(
	[Product_ID] ASC,
	[Is_Current] ASC
)
INCLUDE([Product_SK]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DIM_Vehicle_NK]    Script Date: 6/9/2026 5:43:42 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DIM_Vehicle_NK] ON [DWH].[DIM_Vehicle]
(
	[Vehicle_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DIM_Vendor_NK]    Script Date: 6/9/2026 5:43:42 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DIM_Vendor_NK] ON [DWH].[DIM_Vendor]
(
	[Vendor_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DIM_Warehouse_NK]    Script Date: 6/9/2026 5:43:42 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DIM_Warehouse_NK] ON [DWH].[DIM_Warehouse]
(
	[Warehouse_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FLog_Customer_Date]    Script Date: 6/9/2026 5:43:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_FLog_Customer_Date] ON [DWH].[FACT_Logistics]
(
	[Customer_SK] ASC,
	[Date_SK] ASC
)
INCLUDE([Delivery_Delay_Minutes],[On_Time_Flag]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FLog_Date_Driver]    Script Date: 6/9/2026 5:43:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_FLog_Date_Driver] ON [DWH].[FACT_Logistics]
(
	[Date_SK] ASC,
	[Driver_SK] ASC
)
INCLUDE([Actual_KM],[Total_Expense_EGP],[On_Time_Flag]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FLog_Date_Vehicle]    Script Date: 6/9/2026 5:43:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_FLog_Date_Vehicle] ON [DWH].[FACT_Logistics]
(
	[Date_SK] ASC,
	[Vehicle_SK] ASC
)
INCLUDE([Actual_KM],[Total_Expense_EGP],[On_Time_Flag]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FProc_Date_Product]    Script Date: 6/9/2026 5:43:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_FProc_Date_Product] ON [DWH].[FACT_Procurement]
(
	[Date_SK] ASC,
	[Product_SK] ASC
)
INCLUDE([Total_Cost_EGP],[Qty_Received],[Qty_Damaged]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FProc_Date_Vendor]    Script Date: 6/9/2026 5:43:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_FProc_Date_Vendor] ON [DWH].[FACT_Procurement]
(
	[Date_SK] ASC,
	[Vendor_SK] ASC
)
INCLUDE([Total_Cost_EGP],[Qty_Ordered],[Qty_Received],[Arrival_Delay_Days]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FProd_Date_ProdLine]    Script Date: 6/9/2026 5:43:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_FProd_Date_ProdLine] ON [DWH].[FACT_Production]
(
	[Date_SK] ASC,
	[ProdLine_SK] ASC
)
INCLUDE([Produced_Qty],[Defected_Qty],[OEE_Actual_Pct],[Production_Cost_EGP]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FProd_Date_Product]    Script Date: 6/9/2026 5:43:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_FProd_Date_Product] ON [DWH].[FACT_Production]
(
	[Date_SK] ASC,
	[Product_SK] ASC
)
INCLUDE([Planned_Qty],[Produced_Qty],[Defected_Qty]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FRet_Date_Customer]    Script Date: 6/9/2026 5:43:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_FRet_Date_Customer] ON [DWH].[FACT_Returns]
(
	[Date_SK] ASC,
	[Customer_SK] ASC
)
INCLUDE([Qty_Returned],[Financial_Loss_EGP],[Return_Reason]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FRet_Date_Product]    Script Date: 6/9/2026 5:43:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_FRet_Date_Product] ON [DWH].[FACT_Returns]
(
	[Date_SK] ASC,
	[Product_SK] ASC
)
INCLUDE([Qty_Returned],[Financial_Loss_EGP]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FSales_Channel]    Script Date: 6/9/2026 5:43:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_FSales_Channel] ON [DWH].[FACT_Sales]
(
	[Channel_SK] ASC,
	[Date_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FSales_Date_Customer]    Script Date: 6/9/2026 5:43:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_FSales_Date_Customer] ON [DWH].[FACT_Sales]
(
	[Date_SK] ASC,
	[Customer_SK] ASC
)
INCLUDE([Net_Revenue_EGP],[Qty_Ordered],[Qty_Shipped]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FSales_Date_Product]    Script Date: 6/9/2026 5:43:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_FSales_Date_Product] ON [DWH].[FACT_Sales]
(
	[Date_SK] ASC,
	[Product_SK] ASC
)
INCLUDE([Net_Revenue_EGP],[Qty_Ordered],[Qty_Shipped]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [DWH].[DIM_Customer] ADD  DEFAULT ((0)) FOR [Credit_Limit]
GO
ALTER TABLE [DWH].[DIM_Customer] ADD  DEFAULT ((1)) FOR [Is_Current]
GO
ALTER TABLE [DWH].[DIM_Customer] ADD  DEFAULT (sysdatetime()) FOR [Valid_From]
GO
ALTER TABLE [DWH].[DIM_Customer] ADD  DEFAULT ('9999-12-31 23:59:59') FOR [Valid_To]
GO
ALTER TABLE [DWH].[DIM_Customer] ADD  DEFAULT (sysdatetime()) FOR [DWH_Inserted_At]
GO
ALTER TABLE [DWH].[DIM_Date] ADD  DEFAULT ((0)) FOR [Is_Weekend]
GO
ALTER TABLE [DWH].[DIM_Date] ADD  DEFAULT ((0)) FOR [Is_Holiday_EG]
GO
ALTER TABLE [DWH].[DIM_Driver] ADD  DEFAULT ((50.00)) FOR [Driver_Risk_Score]
GO
ALTER TABLE [DWH].[DIM_Driver] ADD  DEFAULT ((1)) FOR [Is_Active]
GO
ALTER TABLE [DWH].[DIM_Driver] ADD  DEFAULT (sysdatetime()) FOR [DWH_Inserted_At]
GO
ALTER TABLE [DWH].[DIM_ProdLine] ADD  DEFAULT ((0)) FOR [Max_Daily_Capacity]
GO
ALTER TABLE [DWH].[DIM_ProdLine] ADD  DEFAULT ((85.00)) FOR [OEE_Target]
GO
ALTER TABLE [DWH].[DIM_ProdLine] ADD  DEFAULT ((1)) FOR [Is_Active]
GO
ALTER TABLE [DWH].[DIM_ProdLine] ADD  DEFAULT (sysdatetime()) FOR [DWH_Inserted_At]
GO
ALTER TABLE [DWH].[DIM_Product] ADD  DEFAULT ((0)) FOR [Unit_Cost_EGP]
GO
ALTER TABLE [DWH].[DIM_Product] ADD  DEFAULT ((0)) FOR [Unit_Price_EGP]
GO
ALTER TABLE [DWH].[DIM_Product] ADD  DEFAULT ((1)) FOR [Is_Current]
GO
ALTER TABLE [DWH].[DIM_Product] ADD  DEFAULT (sysdatetime()) FOR [Valid_From]
GO
ALTER TABLE [DWH].[DIM_Product] ADD  DEFAULT ('9999-12-31 23:59:59') FOR [Valid_To]
GO
ALTER TABLE [DWH].[DIM_Product] ADD  DEFAULT (sysdatetime()) FOR [DWH_Inserted_At]
GO
ALTER TABLE [DWH].[DIM_Vehicle] ADD  DEFAULT ('Active') FOR [Vehicle_Status]
GO
ALTER TABLE [DWH].[DIM_Vehicle] ADD  DEFAULT (sysdatetime()) FOR [DWH_Inserted_At]
GO
ALTER TABLE [DWH].[DIM_Vendor] ADD  DEFAULT ((1)) FOR [Is_Active]
GO
ALTER TABLE [DWH].[DIM_Vendor] ADD  DEFAULT (sysdatetime()) FOR [DWH_Inserted_At]
GO
ALTER TABLE [DWH].[DIM_Warehouse] ADD  DEFAULT ((0)) FOR [Total_Capacity_M3]
GO
ALTER TABLE [DWH].[DIM_Warehouse] ADD  DEFAULT ((0)) FOR [Chilled_Capacity_M3]
GO
ALTER TABLE [DWH].[DIM_Warehouse] ADD  DEFAULT ((0)) FOR [Frozen_Capacity_M3]
GO
ALTER TABLE [DWH].[DIM_Warehouse] ADD  DEFAULT ((1)) FOR [Is_Active]
GO
ALTER TABLE [DWH].[DIM_Warehouse] ADD  DEFAULT (sysdatetime()) FOR [DWH_Inserted_At]
GO
ALTER TABLE [DWH].[ETL_Batch_Log] ADD  DEFAULT (sysdatetime()) FOR [Created_At]
GO
ALTER TABLE [DWH].[ETL_Errors] ADD  DEFAULT (sysdatetime()) FOR [Created_At]
GO
ALTER TABLE [DWH].[FACT_Logistics] ADD  DEFAULT ((0)) FOR [Date_SK]
GO
ALTER TABLE [DWH].[FACT_Logistics] ADD  DEFAULT ((-1)) FOR [Driver_SK]
GO
ALTER TABLE [DWH].[FACT_Logistics] ADD  DEFAULT ((-1)) FOR [Vehicle_SK]
GO
ALTER TABLE [DWH].[FACT_Logistics] ADD  DEFAULT ((-1)) FOR [SrcWarehouse_SK]
GO
ALTER TABLE [DWH].[FACT_Logistics] ADD  DEFAULT ((-1)) FOR [DstWarehouse_SK]
GO
ALTER TABLE [DWH].[FACT_Logistics] ADD  DEFAULT ((-1)) FOR [Customer_SK]
GO
ALTER TABLE [DWH].[FACT_Logistics] ADD  DEFAULT ((0)) FOR [Planned_KM]
GO
ALTER TABLE [DWH].[FACT_Logistics] ADD  DEFAULT ((0)) FOR [Total_Expense_EGP]
GO
ALTER TABLE [DWH].[FACT_Logistics] ADD  DEFAULT ((0)) FOR [Fuel_Expense_EGP]
GO
ALTER TABLE [DWH].[FACT_Logistics] ADD  DEFAULT ((0)) FOR [Other_Expense_EGP]
GO
ALTER TABLE [DWH].[FACT_Logistics] ADD  DEFAULT (sysdatetime()) FOR [DWH_Inserted_At]
GO
ALTER TABLE [DWH].[FACT_Procurement] ADD  DEFAULT ((0)) FOR [Date_SK]
GO
ALTER TABLE [DWH].[FACT_Procurement] ADD  DEFAULT ((-1)) FOR [Vendor_SK]
GO
ALTER TABLE [DWH].[FACT_Procurement] ADD  DEFAULT ((-1)) FOR [Product_SK]
GO
ALTER TABLE [DWH].[FACT_Procurement] ADD  DEFAULT ((-1)) FOR [Warehouse_SK]
GO
ALTER TABLE [DWH].[FACT_Procurement] ADD  DEFAULT ((0)) FOR [Qty_Ordered]
GO
ALTER TABLE [DWH].[FACT_Procurement] ADD  DEFAULT ((0)) FOR [Qty_Received]
GO
ALTER TABLE [DWH].[FACT_Procurement] ADD  DEFAULT ((0)) FOR [Qty_Damaged]
GO
ALTER TABLE [DWH].[FACT_Procurement] ADD  DEFAULT ((0)) FOR [Qty_Accepted]
GO
ALTER TABLE [DWH].[FACT_Procurement] ADD  DEFAULT ((0)) FOR [Unit_Price_EGP]
GO
ALTER TABLE [DWH].[FACT_Procurement] ADD  DEFAULT ((0)) FOR [Total_Cost_EGP]
GO
ALTER TABLE [DWH].[FACT_Procurement] ADD  DEFAULT (sysdatetime()) FOR [DWH_Inserted_At]
GO
ALTER TABLE [DWH].[FACT_Production] ADD  DEFAULT ((0)) FOR [Date_SK]
GO
ALTER TABLE [DWH].[FACT_Production] ADD  DEFAULT ((-1)) FOR [Product_SK]
GO
ALTER TABLE [DWH].[FACT_Production] ADD  DEFAULT ((-1)) FOR [ProdLine_SK]
GO
ALTER TABLE [DWH].[FACT_Production] ADD  DEFAULT ((-1)) FOR [Warehouse_SK]
GO
ALTER TABLE [DWH].[FACT_Production] ADD  DEFAULT ((0)) FOR [Planned_Qty]
GO
ALTER TABLE [DWH].[FACT_Production] ADD  DEFAULT ((0)) FOR [Produced_Qty]
GO
ALTER TABLE [DWH].[FACT_Production] ADD  DEFAULT ((0)) FOR [Defected_Qty]
GO
ALTER TABLE [DWH].[FACT_Production] ADD  DEFAULT ((0)) FOR [Good_Qty]
GO
ALTER TABLE [DWH].[FACT_Production] ADD  DEFAULT (sysdatetime()) FOR [DWH_Inserted_At]
GO
ALTER TABLE [DWH].[FACT_Returns] ADD  DEFAULT ((0)) FOR [Date_SK]
GO
ALTER TABLE [DWH].[FACT_Returns] ADD  DEFAULT ((-1)) FOR [Customer_SK]
GO
ALTER TABLE [DWH].[FACT_Returns] ADD  DEFAULT ((-1)) FOR [Product_SK]
GO
ALTER TABLE [DWH].[FACT_Returns] ADD  DEFAULT ((-1)) FOR [Warehouse_SK]
GO
ALTER TABLE [DWH].[FACT_Returns] ADD  DEFAULT ((0)) FOR [Qty_Returned]
GO
ALTER TABLE [DWH].[FACT_Returns] ADD  DEFAULT ((0)) FOR [Financial_Loss_EGP]
GO
ALTER TABLE [DWH].[FACT_Returns] ADD  DEFAULT (sysdatetime()) FOR [DWH_Inserted_At]
GO
ALTER TABLE [DWH].[FACT_Sales] ADD  DEFAULT ((0)) FOR [Date_SK]
GO
ALTER TABLE [DWH].[FACT_Sales] ADD  DEFAULT ((-1)) FOR [Customer_SK]
GO
ALTER TABLE [DWH].[FACT_Sales] ADD  DEFAULT ((-1)) FOR [Product_SK]
GO
ALTER TABLE [DWH].[FACT_Sales] ADD  DEFAULT ((-1)) FOR [Warehouse_SK]
GO
ALTER TABLE [DWH].[FACT_Sales] ADD  DEFAULT ((1)) FOR [Channel_SK]
GO
ALTER TABLE [DWH].[FACT_Sales] ADD  DEFAULT ((0)) FOR [Qty_Ordered]
GO
ALTER TABLE [DWH].[FACT_Sales] ADD  DEFAULT ((0)) FOR [Qty_Shipped]
GO
ALTER TABLE [DWH].[FACT_Sales] ADD  DEFAULT ((0)) FOR [Unit_Price_EGP]
GO
ALTER TABLE [DWH].[FACT_Sales] ADD  DEFAULT ((0)) FOR [Discount_Pct]
GO
ALTER TABLE [DWH].[FACT_Sales] ADD  DEFAULT ((0)) FOR [Gross_Revenue_EGP]
GO
ALTER TABLE [DWH].[FACT_Sales] ADD  DEFAULT ((0)) FOR [Net_Revenue_EGP]
GO
ALTER TABLE [DWH].[FACT_Sales] ADD  DEFAULT ((0)) FOR [Qty_Variance]
GO
ALTER TABLE [DWH].[FACT_Sales] ADD  DEFAULT (sysdatetime()) FOR [DWH_Inserted_At]
GO
ALTER TABLE [DWH].[FACT_Logistics]  WITH CHECK ADD  CONSTRAINT [FK_FLog_Customer] FOREIGN KEY([Customer_SK])
REFERENCES [DWH].[DIM_Customer] ([Customer_SK])
GO
ALTER TABLE [DWH].[FACT_Logistics] CHECK CONSTRAINT [FK_FLog_Customer]
GO
ALTER TABLE [DWH].[FACT_Logistics]  WITH CHECK ADD  CONSTRAINT [FK_FLog_Date] FOREIGN KEY([Date_SK])
REFERENCES [DWH].[DIM_Date] ([Date_SK])
GO
ALTER TABLE [DWH].[FACT_Logistics] CHECK CONSTRAINT [FK_FLog_Date]
GO
ALTER TABLE [DWH].[FACT_Logistics]  WITH CHECK ADD  CONSTRAINT [FK_FLog_Driver] FOREIGN KEY([Driver_SK])
REFERENCES [DWH].[DIM_Driver] ([Driver_SK])
GO
ALTER TABLE [DWH].[FACT_Logistics] CHECK CONSTRAINT [FK_FLog_Driver]
GO
ALTER TABLE [DWH].[FACT_Logistics]  WITH CHECK ADD  CONSTRAINT [FK_FLog_DstWarehouse] FOREIGN KEY([DstWarehouse_SK])
REFERENCES [DWH].[DIM_Warehouse] ([Warehouse_SK])
GO
ALTER TABLE [DWH].[FACT_Logistics] CHECK CONSTRAINT [FK_FLog_DstWarehouse]
GO
ALTER TABLE [DWH].[FACT_Logistics]  WITH CHECK ADD  CONSTRAINT [FK_FLog_SrcWarehouse] FOREIGN KEY([SrcWarehouse_SK])
REFERENCES [DWH].[DIM_Warehouse] ([Warehouse_SK])
GO
ALTER TABLE [DWH].[FACT_Logistics] CHECK CONSTRAINT [FK_FLog_SrcWarehouse]
GO
ALTER TABLE [DWH].[FACT_Logistics]  WITH CHECK ADD  CONSTRAINT [FK_FLog_Vehicle] FOREIGN KEY([Vehicle_SK])
REFERENCES [DWH].[DIM_Vehicle] ([Vehicle_SK])
GO
ALTER TABLE [DWH].[FACT_Logistics] CHECK CONSTRAINT [FK_FLog_Vehicle]
GO
ALTER TABLE [DWH].[FACT_Procurement]  WITH CHECK ADD  CONSTRAINT [FK_FProc_Date] FOREIGN KEY([Date_SK])
REFERENCES [DWH].[DIM_Date] ([Date_SK])
GO
ALTER TABLE [DWH].[FACT_Procurement] CHECK CONSTRAINT [FK_FProc_Date]
GO
ALTER TABLE [DWH].[FACT_Procurement]  WITH CHECK ADD  CONSTRAINT [FK_FProc_Product] FOREIGN KEY([Product_SK])
REFERENCES [DWH].[DIM_Product] ([Product_SK])
GO
ALTER TABLE [DWH].[FACT_Procurement] CHECK CONSTRAINT [FK_FProc_Product]
GO
ALTER TABLE [DWH].[FACT_Procurement]  WITH CHECK ADD  CONSTRAINT [FK_FProc_Vendor] FOREIGN KEY([Vendor_SK])
REFERENCES [DWH].[DIM_Vendor] ([Vendor_SK])
GO
ALTER TABLE [DWH].[FACT_Procurement] CHECK CONSTRAINT [FK_FProc_Vendor]
GO
ALTER TABLE [DWH].[FACT_Procurement]  WITH CHECK ADD  CONSTRAINT [FK_FProc_Warehouse] FOREIGN KEY([Warehouse_SK])
REFERENCES [DWH].[DIM_Warehouse] ([Warehouse_SK])
GO
ALTER TABLE [DWH].[FACT_Procurement] CHECK CONSTRAINT [FK_FProc_Warehouse]
GO
ALTER TABLE [DWH].[FACT_Production]  WITH CHECK ADD  CONSTRAINT [FK_FProd_Date] FOREIGN KEY([Date_SK])
REFERENCES [DWH].[DIM_Date] ([Date_SK])
GO
ALTER TABLE [DWH].[FACT_Production] CHECK CONSTRAINT [FK_FProd_Date]
GO
ALTER TABLE [DWH].[FACT_Production]  WITH CHECK ADD  CONSTRAINT [FK_FProd_ProdLine] FOREIGN KEY([ProdLine_SK])
REFERENCES [DWH].[DIM_ProdLine] ([ProdLine_SK])
GO
ALTER TABLE [DWH].[FACT_Production] CHECK CONSTRAINT [FK_FProd_ProdLine]
GO
ALTER TABLE [DWH].[FACT_Production]  WITH CHECK ADD  CONSTRAINT [FK_FProd_Product] FOREIGN KEY([Product_SK])
REFERENCES [DWH].[DIM_Product] ([Product_SK])
GO
ALTER TABLE [DWH].[FACT_Production] CHECK CONSTRAINT [FK_FProd_Product]
GO
ALTER TABLE [DWH].[FACT_Production]  WITH CHECK ADD  CONSTRAINT [FK_FProd_Warehouse] FOREIGN KEY([Warehouse_SK])
REFERENCES [DWH].[DIM_Warehouse] ([Warehouse_SK])
GO
ALTER TABLE [DWH].[FACT_Production] CHECK CONSTRAINT [FK_FProd_Warehouse]
GO
ALTER TABLE [DWH].[FACT_Returns]  WITH CHECK ADD  CONSTRAINT [FK_FRet_Customer] FOREIGN KEY([Customer_SK])
REFERENCES [DWH].[DIM_Customer] ([Customer_SK])
GO
ALTER TABLE [DWH].[FACT_Returns] CHECK CONSTRAINT [FK_FRet_Customer]
GO
ALTER TABLE [DWH].[FACT_Returns]  WITH CHECK ADD  CONSTRAINT [FK_FRet_Date] FOREIGN KEY([Date_SK])
REFERENCES [DWH].[DIM_Date] ([Date_SK])
GO
ALTER TABLE [DWH].[FACT_Returns] CHECK CONSTRAINT [FK_FRet_Date]
GO
ALTER TABLE [DWH].[FACT_Returns]  WITH CHECK ADD  CONSTRAINT [FK_FRet_Product] FOREIGN KEY([Product_SK])
REFERENCES [DWH].[DIM_Product] ([Product_SK])
GO
ALTER TABLE [DWH].[FACT_Returns] CHECK CONSTRAINT [FK_FRet_Product]
GO
ALTER TABLE [DWH].[FACT_Returns]  WITH CHECK ADD  CONSTRAINT [FK_FRet_Warehouse] FOREIGN KEY([Warehouse_SK])
REFERENCES [DWH].[DIM_Warehouse] ([Warehouse_SK])
GO
ALTER TABLE [DWH].[FACT_Returns] CHECK CONSTRAINT [FK_FRet_Warehouse]
GO
ALTER TABLE [DWH].[FACT_Sales]  WITH CHECK ADD  CONSTRAINT [FK_FSales_Channel] FOREIGN KEY([Channel_SK])
REFERENCES [DWH].[DIM_Channel] ([Channel_SK])
GO
ALTER TABLE [DWH].[FACT_Sales] CHECK CONSTRAINT [FK_FSales_Channel]
GO
ALTER TABLE [DWH].[FACT_Sales]  WITH CHECK ADD  CONSTRAINT [FK_FSales_Customer] FOREIGN KEY([Customer_SK])
REFERENCES [DWH].[DIM_Customer] ([Customer_SK])
GO
ALTER TABLE [DWH].[FACT_Sales] CHECK CONSTRAINT [FK_FSales_Customer]
GO
ALTER TABLE [DWH].[FACT_Sales]  WITH CHECK ADD  CONSTRAINT [FK_FSales_Date] FOREIGN KEY([Date_SK])
REFERENCES [DWH].[DIM_Date] ([Date_SK])
GO
ALTER TABLE [DWH].[FACT_Sales] CHECK CONSTRAINT [FK_FSales_Date]
GO
ALTER TABLE [DWH].[FACT_Sales]  WITH CHECK ADD  CONSTRAINT [FK_FSales_Product] FOREIGN KEY([Product_SK])
REFERENCES [DWH].[DIM_Product] ([Product_SK])
GO
ALTER TABLE [DWH].[FACT_Sales] CHECK CONSTRAINT [FK_FSales_Product]
GO
ALTER TABLE [DWH].[FACT_Sales]  WITH CHECK ADD  CONSTRAINT [FK_FSales_Warehouse] FOREIGN KEY([Warehouse_SK])
REFERENCES [DWH].[DIM_Warehouse] ([Warehouse_SK])
GO
ALTER TABLE [DWH].[FACT_Sales] CHECK CONSTRAINT [FK_FSales_Warehouse]
GO
ALTER TABLE [DWH].[DIM_Channel]  WITH CHECK ADD  CONSTRAINT [CK_DIM_Channel_Group] CHECK  (([Channel_Group]='Internal' OR [Channel_Group]='B2B' OR [Channel_Group]='Digital'))
GO
ALTER TABLE [DWH].[DIM_Channel] CHECK CONSTRAINT [CK_DIM_Channel_Group]
GO
ALTER TABLE [DWH].[DIM_Customer]  WITH CHECK ADD  CONSTRAINT [CK_DIM_Cust_Credit] CHECK  (([Credit_Limit]>=(0)))
GO
ALTER TABLE [DWH].[DIM_Customer] CHECK CONSTRAINT [CK_DIM_Cust_Credit]
GO
ALTER TABLE [DWH].[DIM_Customer]  WITH CHECK ADD  CONSTRAINT [CK_DIM_Cust_Segment] CHECK  (([Segment]='Retail' OR [Segment]='SME' OR [Segment]='Enterprise'))
GO
ALTER TABLE [DWH].[DIM_Customer] CHECK CONSTRAINT [CK_DIM_Cust_Segment]
GO
ALTER TABLE [DWH].[DIM_Customer]  WITH CHECK ADD  CONSTRAINT [CK_DIM_Cust_Status] CHECK  (([Customer_Status]='Suspended' OR [Customer_Status]='Inactive' OR [Customer_Status]='Active'))
GO
ALTER TABLE [DWH].[DIM_Customer] CHECK CONSTRAINT [CK_DIM_Cust_Status]
GO
ALTER TABLE [DWH].[DIM_Date]  WITH CHECK ADD  CONSTRAINT [CK_DIM_Date_FiscalQ] CHECK  (([Fiscal_Quarter]>=(1) AND [Fiscal_Quarter]<=(4)))
GO
ALTER TABLE [DWH].[DIM_Date] CHECK CONSTRAINT [CK_DIM_Date_FiscalQ]
GO
ALTER TABLE [DWH].[DIM_Date]  WITH CHECK ADD  CONSTRAINT [CK_DIM_Date_Month] CHECK  (([Month_Number]>=(1) AND [Month_Number]<=(12)))
GO
ALTER TABLE [DWH].[DIM_Date] CHECK CONSTRAINT [CK_DIM_Date_Month]
GO
ALTER TABLE [DWH].[DIM_Date]  WITH CHECK ADD  CONSTRAINT [CK_DIM_Date_Quarter] CHECK  (([Quarter]>=(1) AND [Quarter]<=(4)))
GO
ALTER TABLE [DWH].[DIM_Date] CHECK CONSTRAINT [CK_DIM_Date_Quarter]
GO
ALTER TABLE [DWH].[DIM_Date]  WITH CHECK ADD  CONSTRAINT [CK_DIM_Date_Season] CHECK  (([Season]='Winter' OR [Season]='Autumn' OR [Season]='Summer' OR [Season]='Spring'))
GO
ALTER TABLE [DWH].[DIM_Date] CHECK CONSTRAINT [CK_DIM_Date_Season]
GO
ALTER TABLE [DWH].[DIM_Driver]  WITH CHECK ADD  CONSTRAINT [CK_DIM_Driver_License] CHECK  (([License_Type]='E' OR [License_Type]='D' OR [License_Type]='C' OR [License_Type]='B' OR [License_Type]='A'))
GO
ALTER TABLE [DWH].[DIM_Driver] CHECK CONSTRAINT [CK_DIM_Driver_License]
GO
ALTER TABLE [DWH].[DIM_Driver]  WITH CHECK ADD  CONSTRAINT [CK_DIM_Driver_Risk] CHECK  (([Driver_Risk_Score]>=(0) AND [Driver_Risk_Score]<=(100)))
GO
ALTER TABLE [DWH].[DIM_Driver] CHECK CONSTRAINT [CK_DIM_Driver_Risk]
GO
ALTER TABLE [DWH].[DIM_ProdLine]  WITH CHECK ADD  CONSTRAINT [CK_DIM_ProdLine_OEE] CHECK  (([OEE_Target]>=(0) AND [OEE_Target]<=(100)))
GO
ALTER TABLE [DWH].[DIM_ProdLine] CHECK CONSTRAINT [CK_DIM_ProdLine_OEE]
GO
ALTER TABLE [DWH].[DIM_Product]  WITH CHECK ADD  CONSTRAINT [CK_DIM_Prod_Cost] CHECK  (([Unit_Cost_EGP]>=(0)))
GO
ALTER TABLE [DWH].[DIM_Product] CHECK CONSTRAINT [CK_DIM_Prod_Cost]
GO
ALTER TABLE [DWH].[DIM_Product]  WITH CHECK ADD  CONSTRAINT [CK_DIM_Prod_Price] CHECK  (([Unit_Price_EGP]>=(0)))
GO
ALTER TABLE [DWH].[DIM_Product] CHECK CONSTRAINT [CK_DIM_Prod_Price]
GO
ALTER TABLE [DWH].[DIM_Product]  WITH CHECK ADD  CONSTRAINT [CK_DIM_Prod_Storage] CHECK  (([Storage_Type]='Frozen' OR [Storage_Type]='Chilled' OR [Storage_Type]='Dry'))
GO
ALTER TABLE [DWH].[DIM_Product] CHECK CONSTRAINT [CK_DIM_Prod_Storage]
GO
ALTER TABLE [DWH].[DIM_Product]  WITH CHECK ADD  CONSTRAINT [CK_DIM_Prod_Type] CHECK  (([Product_Type]='Finished Good' OR [Product_Type]='Raw Material'))
GO
ALTER TABLE [DWH].[DIM_Product] CHECK CONSTRAINT [CK_DIM_Prod_Type]
GO
ALTER TABLE [DWH].[DIM_Vehicle]  WITH CHECK ADD  CONSTRAINT [CK_DIM_Vehicle_Fuel] CHECK  (([Fuel_Type]='Natural Gas' OR [Fuel_Type]='Electric' OR [Fuel_Type]='Petrol' OR [Fuel_Type]='Diesel'))
GO
ALTER TABLE [DWH].[DIM_Vehicle] CHECK CONSTRAINT [CK_DIM_Vehicle_Fuel]
GO
ALTER TABLE [DWH].[DIM_Vehicle]  WITH CHECK ADD  CONSTRAINT [CK_DIM_Vehicle_Status] CHECK  (([Vehicle_Status]='Out of Service' OR [Vehicle_Status]='Maintenance' OR [Vehicle_Status]='Active'))
GO
ALTER TABLE [DWH].[DIM_Vehicle] CHECK CONSTRAINT [CK_DIM_Vehicle_Status]
GO
ALTER TABLE [DWH].[DIM_Vehicle]  WITH CHECK ADD  CONSTRAINT [CK_DIM_Vehicle_Type] CHECK  (([Vehicle_Type]='Van' OR [Vehicle_Type]='Light Truck' OR [Vehicle_Type]='Heavy Truck'))
GO
ALTER TABLE [DWH].[DIM_Vehicle] CHECK CONSTRAINT [CK_DIM_Vehicle_Type]
GO
ALTER TABLE [DWH].[DIM_Vendor]  WITH CHECK ADD  CONSTRAINT [CK_DIM_Vendor_Rating] CHECK  (([Vendor_Rating]>=(0) AND [Vendor_Rating]<=(5) OR [Vendor_Rating] IS NULL))
GO
ALTER TABLE [DWH].[DIM_Vendor] CHECK CONSTRAINT [CK_DIM_Vendor_Rating]
GO
ALTER TABLE [DWH].[DIM_Warehouse]  WITH CHECK ADD  CONSTRAINT [CK_DIM_WH_Type] CHECK  (([Warehouse_Type]='Hub' OR [Warehouse_Type]='Regional' OR [Warehouse_Type]='Central'))
GO
ALTER TABLE [DWH].[DIM_Warehouse] CHECK CONSTRAINT [CK_DIM_WH_Type]
GO
ALTER TABLE [DWH].[FACT_Logistics]  WITH CHECK ADD  CONSTRAINT [CK_FLog_Expense] CHECK  (([Total_Expense_EGP]>=(0)))
GO
ALTER TABLE [DWH].[FACT_Logistics] CHECK CONSTRAINT [CK_FLog_Expense]
GO
ALTER TABLE [DWH].[FACT_Logistics]  WITH CHECK ADD  CONSTRAINT [CK_FLog_KM] CHECK  (([Planned_KM]>=(0)))
GO
ALTER TABLE [DWH].[FACT_Logistics] CHECK CONSTRAINT [CK_FLog_KM]
GO
ALTER TABLE [DWH].[FACT_Procurement]  WITH CHECK ADD  CONSTRAINT [CK_FProc_Cost] CHECK  (([Total_Cost_EGP]>=(0)))
GO
ALTER TABLE [DWH].[FACT_Procurement] CHECK CONSTRAINT [CK_FProc_Cost]
GO
ALTER TABLE [DWH].[FACT_Procurement]  WITH CHECK ADD  CONSTRAINT [CK_FProc_Price] CHECK  (([Unit_Price_EGP]>=(0)))
GO
ALTER TABLE [DWH].[FACT_Procurement] CHECK CONSTRAINT [CK_FProc_Price]
GO
ALTER TABLE [DWH].[FACT_Procurement]  WITH CHECK ADD  CONSTRAINT [CK_FProc_Qty] CHECK  (([Qty_Ordered]>=(0) AND [Qty_Received]>=(0) AND [Qty_Damaged]>=(0)))
GO
ALTER TABLE [DWH].[FACT_Procurement] CHECK CONSTRAINT [CK_FProc_Qty]
GO
ALTER TABLE [DWH].[FACT_Production]  WITH CHECK ADD  CONSTRAINT [CK_FProd_Cost] CHECK  (([Production_Cost_EGP] IS NULL OR [Production_Cost_EGP]>=(0)))
GO
ALTER TABLE [DWH].[FACT_Production] CHECK CONSTRAINT [CK_FProd_Cost]
GO
ALTER TABLE [DWH].[FACT_Production]  WITH CHECK ADD  CONSTRAINT [CK_FProd_Qty] CHECK  (([Planned_Qty]>=(0) AND [Produced_Qty]>=(0) AND [Defected_Qty]>=(0)))
GO
ALTER TABLE [DWH].[FACT_Production] CHECK CONSTRAINT [CK_FProd_Qty]
GO
ALTER TABLE [DWH].[FACT_Returns]  WITH CHECK ADD  CONSTRAINT [CK_FRet_Loss] CHECK  (([Financial_Loss_EGP]>=(0)))
GO
ALTER TABLE [DWH].[FACT_Returns] CHECK CONSTRAINT [CK_FRet_Loss]
GO
ALTER TABLE [DWH].[FACT_Returns]  WITH CHECK ADD  CONSTRAINT [CK_FRet_Qty] CHECK  (([Qty_Returned]>=(0)))
GO
ALTER TABLE [DWH].[FACT_Returns] CHECK CONSTRAINT [CK_FRet_Qty]
GO
ALTER TABLE [DWH].[FACT_Sales]  WITH CHECK ADD  CONSTRAINT [CK_FSales_Discount] CHECK  (([Discount_Pct]>=(0) AND [Discount_Pct]<=(100)))
GO
ALTER TABLE [DWH].[FACT_Sales] CHECK CONSTRAINT [CK_FSales_Discount]
GO
ALTER TABLE [DWH].[FACT_Sales]  WITH CHECK ADD  CONSTRAINT [CK_FSales_Price] CHECK  (([Unit_Price_EGP]>=(0)))
GO
ALTER TABLE [DWH].[FACT_Sales] CHECK CONSTRAINT [CK_FSales_Price]
GO
ALTER TABLE [DWH].[FACT_Sales]  WITH CHECK ADD  CONSTRAINT [CK_FSales_Qty] CHECK  (([Qty_Ordered]>=(0) AND [Qty_Shipped]>=(0)))
GO
ALTER TABLE [DWH].[FACT_Sales] CHECK CONSTRAINT [CK_FSales_Qty]
GO
ALTER TABLE [DWH].[FACT_Sales]  WITH CHECK ADD  CONSTRAINT [CK_FSales_Revenue] CHECK  (([Net_Revenue_EGP]>=(0)))
GO
ALTER TABLE [DWH].[FACT_Sales] CHECK CONSTRAINT [CK_FSales_Revenue]
GO
USE [master]
GO
